
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Data Control Latin', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.container h1 {
  font-size: 200px;
}
